{% extends 'base.html' %}
<!-- {% import 'bootstrap/wtf.html' as wtf %} -->

{% block content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>New User? <a href='/register'>Click to Register!</a></p>
{% endblock %}