{% extends 'base.html' %}
{% block content %}
    {% if bookings %}
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a>Booking History</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            {% for booking in bookings %}
            <a href="/booking/{{ booking.id }}">
                <img src="../static/img/{{ event.query.get(booking.eventid).poster }}" style="max-width: 70%; margin-bottom: 2%;">
            </a>
            {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if events %}
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a>Event History</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            {% for event in events %}
            <a href="/event/{{ event.id }}">
               <center> <img src="../static/img/{{ event.poster }}" style="max-width: 70%; display:block; margin-bottom: 2%;"> </center>
            </a>
        {% endfor %}
        <a href="../event/add" style="margin-top:2%;" class="btn btn-primary">Add a new event</a>
        </div>
      </div>
    {% endif %}

{% endblock %}