{% extends 'base.html' %}
<!-- {% import 'bootstrap/wtf.html' as wtf %} -->

{% block content %}
    <h1>Add the event</h1>
    <div class="row">
        <div class="col-md-4">
            
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    
{% endblock %}