{% extends 'base.html' %}
<!-- {% import 'bootstrap/wtf.html' as wtf %} -->


{% block content %}
<table class="table table-striped">
    <tbody>
      <thead><center><a href="/event/{{ event.id }}"><img src="../static/img/{{ event.poster }}" class="img" style="width: 50%; height: 30%; margin-bottom: 2%;"></a></center></thead>
      <tr>
        <td>Booking ID</td>
        <td>{{ booking.id }}</td>
      </tr>
      <tr>
        <td>Event name</td>
        <td>{{ event.eventname }}</td>
      </tr>
      <tr>
        <td>Event Type</td>
        
        <td>
          {% for type in type.query.filter_by(eventid=event.id) %}
          {{ type.type }}, 
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Event Details</td>
        
        <td>{{ event.aboutevent }}</td>
      </tr>
      <tr>
        <td>Event Time</td>
        <td>{{ event.time }}{{ event.date }}  </td>
      </tr>
      <tr>
        <td>Booking Time</td>
        <td>{{ booking.time }} {{ booking.date }} </td>
      </tr>
      <tr>
        <td>Tickets booked</td>
        <td>{{ booking.numberoftickets }}</td>
      </tr>
    </tbody>
  </table>
  <h1>You have to pay {{ booking.totalcost }} at venue!</h1> 
  <a href="/event/{{ booking.id }}/download_ticket" ><button class="btn btn-primary"> Download ticket</button></a>
{% endblock %}