{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div class="container">    
    <div class="jumbotron">
      <div class="row">
          <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
              <img src="../static/img/{{ event.poster }}" class="img" style="float: left; max-width: 100%; max-height: 100%;">
          </div>
          <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
              <div class="container" style="border-bottom:1px solid black">
                <h2>{{ event.eventname }}</h2>
              </div>
                <hr>
              <ul class="container details">
                <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"><b>Event Time</b> :  {{ event.time }} ON {{ event.date }}</span></p>
                <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><b>Event Type</b> : 
                {% for type in type.query.filter_by(eventid=event.id) %}
                {{ type.type }}, 
                {% endfor %} </p>
                <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><b>About this event</b> : {{ event.aboutevent }}</p>
                <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><b>Cost</b> : {{ event.price }}/- per seat</p>
                <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><b>Available Seats</b> : {{ event.availableseats }}</p>
                
              </ul>
          </div>
      </div>
    </div>
</div>
{% if form %}
    <h1>Book tickets</h1>
    {{ wtf.quick_form(form) }}
{% elif current_user.id==event.organiserid %}
    <a href="/event/update/{{event.id}}" style="margin-top:2%;" class="btn btn-primary">Update event</a>
{% else %}
{% endif %}
{% endblock %}
