{% extends "base.html" %}

{% block content %}


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a>Available Events</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        {% for event in events %}
        <a href="/event/{{ event.id }}" >
            <center><img src="static/img/{{ event.poster }}" class="img-fluid" style="max-width: 70%; margin-bottom: 2%; display:block"></center>
        </a>
        {% endfor %}
    </div>
  </div>



    
{% endblock %}