{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a>Search result</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        {% for event in events %}
        <a href="event/{{ event.id}}">
            <img src="../static/img/{{ event.poster }}" style="max-width: 70%; margin-bottom: 2%;">
        </a>
        {% endfor %}
    </div>
  </div>


{% endblock %}