<!-- {% import 'bootstrap/wtf.html' as wtf %} -->
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<table class="table table-striped">
    <tbody>
      <tr>
        <td>Booking ID</td>
        <td>{{ booking.id }}</td>
      </tr>
      <tr>
        <td>Event name</td>
        <td>{{ event.eventname }}</td>
      </tr>
      <tr>
        <td>Event Type</td>
        
        <td>
          {% for type in type.query.filter_by(eventid=event.id) %}
          {{ type.type }}, 
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Event Details</td>
        
        <td>{{ event.aboutevent }}</td>
      </tr>
      <tr>
        <td>Event Time</td>
        <td>{{ event.time }}{{ event.date }}  </td>
      </tr>
      <tr>
        <td>Booking Time</td>
        <td>{{ booking.time }} {{ booking.date }} </td>
      </tr>
      <tr>
        <td>Tickets booked</td>
        <td>{{ booking.numberoftickets }}</td>
      </tr>
    </tbody>
  </table>
  <h1>You have to pay {{ booking.totalcost }} at venue!</h1>
  <button id='submit'>
    Download
  </button>
  <script>
    function start_long_task() {
      // send ajax POST request to start background job
      $.ajax({
          type: 'POST',
          url: '/event/{{ booking.id }}/download_ticket',
          success: function(data, status, request) {
              status_url = request.getResponseHeader('Location');
              update_progress(status_url, request.getResponseHeader('id'));
          },
          error: function() {
              alert('Unexpected error');
          }
      });
  }
  function update_progress(status_url, id) {
    $.getJSON(status_url, function(data) {
        if(data['state'] == 'SUCCESS'){
            console.log(id);
                window.location.href = "/download/"+id;
            }
        else {
            setTimeout(function() {
                update_progress(status_url, id);
            }, 2000);
        }
    });
  }
  $(function() {
    $('#submit').click(start_long_task);
  });
  </script>