{% extends "base.html" %}

{% block content %}


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a>Available Events</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        {% for event in events %}
        <a href="/event/{{ event.eventid }}" >
            <img src="../../static/img/{{ Event.query.get(event.eventid).poster }}" class="img-fluid" style="max-width: 70%; margin-bottom: 2%;">
        </a>
        {% endfor %}
    </div>
  </div>
{% endblock %}