<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if title %}
        <title>{{ title }} - Bookmyshow</title>
        {% else %}
        <title>Welcome to Bookmyshow</title>
        {% endif %}
    </head>
    <body>
        <div style="position: sticky; top: 0px; z-index: 10;">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/home" style=" margin-left: 5%;">Bookmyshow</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" style=" margin-left: 40%;">
                  <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/{{ current_user.username }}">Hello, {{ current_user.username }}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/event/type/Movie">Movies</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/event/type/Sport">Sports</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/event/type/Concert">Concerts</a>
                    </li>
                    
                      {% if search_form %}
                      <li class="nav-item">
                        <form class="navbar-form navbar-left" method="get" action="{{ url_for('event.search') }}">
                              <div class="form-group">
                              {{ search_form.q(size=20, class='form-control', placeholder=search_form.q.label.text) }}
                              </div>
                        </form>
                      </li>
                      {% endif %}
                    
                    <li class="nav-item">
                      <a class="nav-link" href="/logout" style="float: right;">Logout</a>
                    </li>
                    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login" style="float: right;">Login</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="container-sm">
            {% block content %}{% endblock %}
        </div>
        
    </body>
</html>